# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Node
node_modules/

# Frontend build
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/